<!-- Mini logo -->

<!-- These should be taken from config table, and set in an ACP module -->
	<!-- DEFINE $MINILOGO_IMAGE = "images/logos/minilogo40x20.png" -->
	<!-- DEFINE $MINILOGO_STICKY_IMAGE = "images/logos/minilogo40x20_wt.png" -->
	<!-- DEFINE $MINILOGO_WIDTH = 40 -->
	<!-- DEFINE $MINILOGO_MARGIN = 2 -->

<!-- These cannot go into a CSS file as they are not processed with template vars -->
<style type="text/css">
li.breadcrumbs {
	background-image: url("{$MINILOGO_IMAGE}");
	background-repeat: no-repeat;
	background-position-y: {$MINILOGO_MARGIN}px;
}

#static-header li.breadcrumbs {
	background-image: url("{$MINILOGO_STICKY_IMAGE}");
}

li.breadcrumbs span:first-child > a {
    padding-left: {$MINILOGO_WIDTH}px;
	width: 0px;
}
</style>

<!-- Sticky navigation bar -->

<!-- Most of this should go into a CSS file -->
<!-- Parts of these may not go into a CSS file if they are user configurable, as CSS files are not processed with template vars -->
<style type="text/css">
/* Static header (navbar duplicate) sticks to the top of window */
#static-header {
	position: fixed;
	background: #FFF;
	padding: 4px 5px;
	margin: -4px -5px;
	z-index: 2;
}

#static-header.not-shown {
	top: -200px;	
}  

#static-header.shown {
	top: 4px;	
}  

/* Static header related changes for responsive layout */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	#static-header.shown {
		top: 0;	
	}
}

#static-header .navbar {
	background: #12A3EB url("images/bg_header.gif") repeat-x 0 0;
}

#static-header span, #static-header .linklist li a {
	color: white;
}
#static-header ul.linklist li.responsive-menu a.responsive-menu-link::before {
	border-color: white;
}

#static-header .dropdown .small-icon > a {
	color: #105289;
}

/* Add search box to static header, but not to regular navigation bar */
#static-search-box {
	display: none;
	box-shadow: none;
	float: right;
	margin-top: 2px; 
	margin-left: 15px; 
}

.navbar #search-icon {
      border-radius: 0px 4px 4px 0px;
}

#static-header #static-search-box {
	display: list-item;
} 

#static-header li.breadcrumbs {
	padding-top: 3px;
} 
</style>
