#static-header {
	position: fixed;
	background: #FFF;
	padding: 4px 5px;
	margin: -4px -5px;
	z-index: 2;
}

#static-header.not-shown {
	top: -250px;	
}  

#static-header.shown {
	top: 4px;	
}  

/* Static header related changes for responsive layout */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	#static-header.shown {
		top: 0;	
	}
}


#static-header .dropdown .small-icon > a {
	color: #105289;
}

/* Add search box to static header, but not to regular navigation bar */
#static-search-box {
	display: none;
	box-shadow: none;
	float: right;
	margin-top: 4px; 
	margin-left: 15px; 
}
.rtl #static-search-box {
	display: none;
	box-shadow: none;
	float: left;
	margin-top: 4px; 
	margin-right: 15px; 
}

#static-header #static-search-box {
	display: list-item;
} 

#static-header li.breadcrumbs {
	padding-top: 3px;
} 